/* font styles */
.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header section styles */
/* navbar section styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}
 nav input{
    background-color: #F1F1F1;
     font-size: 16px;
     color: #CCCCCC;
     border-radius: 66px;
     border: none;
     padding: 30px;
     padding-right: 300px;
 }

.icon{
    position: relative;
}
nav i{
    position: absolute;
    top: 30px;
    right: 60px;
    color:#BABABA ; 
}
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
nav a{
    text-decoration: none;
    color: #707070;
}

/* banner section styles */
.banner{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    gap: 140px;
    background-color:#FEEAE9 ; 
    border-radius: 20px;
    align-items: center;
}
.banner-content{
    margin: 50px;
}
.banner-title{
    font-weight:bold;
    font-size: 56px;
    color: #1F1F1F;
    margin-bottom: 0px;
}
.banner-description{
    color: #4E4E4E;   
}
.banner-price{
    font-size: 40px;
    font-weight: 600;
    color:#FF136F ;
    margin-bottom: 5px;
}
.btn-style{
    color:#FFFFFF ;
    background-color: #FF136F;
    border: none;
    border-radius: 6px;
    padding: 15px 28px;
}
img{
    max-width: 400px;
    height: auto;
}
/* categories section style */
.categories{
    max-width: 1040px;
    margin: auto;
    margin-bottom:45px ;
}
.categories-title{
    font-size: 36px;
    font-weight: 600;
}
.categories-content{
    display: flex;
    gap: 26px;
    justify-content: center;
}
.watch{
    background-color:#FF9C35 ;
    display: flex;
    align-items: center;
    gap: 75px;
    padding-left: 20px;
     border-radius: 15px;
}
.bag{
   background-color: #FF589B;
   display: flex;
   align-items: center;
   gap: 75px;
    padding-left: 20px;
     border-radius: 15px;
}
.shoes{
    background-color:#3F07F8 ;
    display: flex;
    align-items: center;
    gap: 75px;
     padding-left: 20px;
      border-radius: 15px;
}
.title{
    font-size: 36px;
    color: #FFFFFF;
}
/* main section styles */
main{
    background-color: #36353514;
    padding-bottom: 70px;
}
/* shoes section styles */
.shoes-section{
    max-width: 1240px;
    margin: auto;
}
.shoes-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shoes-nav a{
    text-decoration: none;
    color: #FF9D00;
    font-size: 20px;
}
.shoes-nav h2{
    font-size: 36px;
    font-weight: 600;
    color: #1F1F1F;
}
.shoes-section-content{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.shoes-1{
    background-color: #FFFFFF;
    padding: 25px;
    text-align: center;
}
.shoes-2{
    background-color: #FFFFFF;
    padding: 25px;
    text-align: center;
}
.shoes-3{
    background-color: #FFFFFF;
    padding: 25px;
    text-align: center;
}
.main-title{
    font-size: 24px;
    font-weight: 600;
    color: #1F1F1F;
}
.main-description{
    color: #4E4E4E;
}
.main-price{
    font-size: 25px;
    font-weight: bold;
}
.btn-main{
    background-color:#000000 ;
}

/* backpack section  */
.backpack-section{
     max-width: 1240px;
    margin: auto;
}
.backpack-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.backpack-nav a{
    text-decoration: none;
    color: #FF9D00;
    font-size: 20px;
}
.backpack-nav h2{
    font-size: 36px;
    font-weight: 600;
    color: #1F1F1F;
}
.backpack-section-content{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.backpack-1{
    background-color: #FFFFFF;
    padding: 25px;
    text-align: center;
}
.backpack-2{
    background-color: #FFFFFF;
    padding: 25px;
    text-align: center;
}
.backpack-3{
    background-color: #FFFFFF;
    padding: 25px;
    text-align: center;
}

/* footer section  */
footer{
    margin: 75px 115px;
}
.footer-container{
    background-color: #FFF2F1;
    max-width: 1240px;
    margin: 0px auto;
    padding: 150px 350px;
    text-align: center;
}
.footer-title{
    font-size: 30px;
    font-weight: 600;
    color: #1F1F1F;
    margin: 0px;
}
.footer-description{
    color: #707070;
}
.footer-input{
    display: flex;
    justify-content: center;
}
footer input{
    border: none;
    color: #CCCCCC;
    font-size: 24px;
    padding: 15px 50px;
    border-radius: 10px 0px 0px 10px;
}
.btn{
    padding:20px 50px;
    border-radius: 0px 10px 10px 0px;
    font-size:25px ;
}
