/* font styles */
.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header section styles */
/* navbar section styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}
 nav input{
    background-color: #F1F1F1;
     font-size: 16px;
     color: #CCCCCC;
     border-radius: 66px;
     border: none;
     padding: 30px;
     padding-right: 300px;
 }

.icon{
    position: relative;
}
nav i{
    position: absolute;
    top: 30px;
    right: 60px;
    color:#BABABA ; 
}
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
nav a{
    text-decoration: none;
    color: #707070;
}

/* banner section styles */
.banner{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    gap: 140px;
    background-color:#FEEAE9 ; 
    border-radius: 20px;
    align-items: center;
}
.banner-content{
    margin: 50px;
}
.banner-title{
    font-weight:bold;
    font-size: 56px;
    color: #1F1F1F;
    line-height: 1px;
}
.banner-description{
    color: #4E4E4E;   
}
.banner-price{
    font-size: 40px;
    font-weight: 600;
    color:#FF136F ;
    line-height: 2px;
}
.btn-style{
    color:#FFFFFF ;
    background-color: #FF136F;
    border: none;
    border-radius: 6px;
    padding: 15px 28px;
}
img{
    width: 400px;
    height: auto;
}
